html, body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}
a {
    text-decoration: none;
    color: #62b944;
}
.hide {
    display: none;
}


.head_wrap {
    text-align: center;
    background: #fff;
    border-bottom: 2px solid #62b934;
    width: 100%;
    display: inline-block;
}
.head {
    width: calc(100% - 20px);
    margin: 0 auto;
    display: inline-block;
    padding: 0 10px;
}
.head > .left {
    float: left;
    display: inline-block;
    width: 90px;
    height: 30px;
    text-align: left;
}
.head > .left > a {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color: #62b944;
    font-weight: bolder;
}
.head > .right {
    float: left;
    display: inline-block;
    width: calc(100% - 100px);
    height: 30px;
    text-align: right;
}
#menu {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#menu li {
    float: right;
    width: 40px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
}
#catagory {
    list-style: none;
    position: relative;
    padding: 10px 20px;
    margin: 0;
    border-top: 1px solid lightgray;
    display: none;
}
#catagory li {
    width: 58px;
    height: 20px;
    padding: 2px 6px;
    line-height: 16px;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    font-size: 16px;
    display: block;
    text-align: center;
    font-family: monospace;
}


.body {
    padding-top: 0;
    width: 100%;
    display: inline-block;
    min-height: 600px;
}


.content {
    width: 100%;
    margin: 0;
}
.article > article {
    position: relative;
    padding: 10px 0;
    overflow: hidden;
    border-bottom: 1px solid #eaeaea;
    clear: both;
    display: inline-block;
    width: 100%;
    height: 136px;
}
.article > article > h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: left;
    padding: 4px 10px;
    margin: 0;
}
.article > article > h2 > a {
    color: #444;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
}
.article > article > a {
    position: absolute;
    left: 10px;
    top: 50px;
    height: 90px;
    width: 120px;
}
.article > article > p {
    position: absolute;
    left: 140px;
    top: 54px;
    height: 58px;
    width: calc(100% - 150px);
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-align:justify;
    color: #999;
}
.article > article > footer {
    position: absolute;
    left: 140px;
    top: 120px;
    height: 24px;
    width: calc(100% - 150px);
    line-height: 20px;
    font-size: 14px;
    color: #bbb;
    overflow: hidden;
    white-space: nowrap;
}
.article > article > footer > time {
    color: #999;
    font-weight: bold;
    margin: 0 10px 0 0;
    display: inline-block;
    float: left;
}
.article > article > footer > a.account {
    margin-right: 8px;
    color: #62b944;
    font-size: 14px;
    margin-left: 4px;
    float: right;
    text-decoration: none;
}
.next-page {
    margin: 20px;
    color: gray;
}
.next-page > a {
    color: #62b934;
    font-size: 16px;
}


.foot {
    position: relative;
    border-top: 2px solid #62b944;
    background: white;
    z-index: 19;
    margin-top: 30px auto 0 auto;
    width: 100%;
}
.foot > .txt {
    margin: 0;
    padding: 20px 10px;
    font-size: 13px;
    color: #aeaeae;
    display: inline-block;
}
.foot .info {
    text-align: center;
    padding: 0;
}
.foot .info > li {
    display: block;
    height: 20px;
    line-height: 20px;
}
.foot .info .sitename a {
    color: #62b934;
}
.foot .txt a {
    color: #aeaeae;
}

.content .author {
    margin-top: 20px;
    font-size: 16px;
    color: #999;
}
#article_content {
    clear: both;
    display: inline-block;
    width: 100%;
}
#article_content > article {
    padding-top: 20px;
    line-height: 24px;
    display: inline-block;
    width: 100%;
}
#js_content {
    min-height: 350px;
    overflow: hidden;
    color: #3e3e3e;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 20px 10px;
    width: calc(100% - 20px);
}
#js_content * {
    max-width: 100% !important;
    overflow: hidden;
    text-align: center;
}
#js_content p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0;
    padding: 0 10px;
    text-align: justify;
}
#js_content .img_wrap {
    text-align: center;
    width: auto !important;
}
#js_content blockquote {
    border-style: solid;
}


.content > h3 {
    margin: 30px 10px 10px 10px;
    text-align: left;
    color: lightgray;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    font-size: 20px;
}
#account_detail {
    padding-left: 20px;
    min-height: 140px;
}
#account_detail img {
    float: right;
    margin: 10px 20px 10px 10px;
}
#account_detail .account-name {
    padding: 10px 60px 0 10px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}
#account_detail .account-name .account-id {
    font-size: 16px;
    color: gray;
}
#account_detail .account-name a {
    color: #62b944;
}
#account_detail .account-desc {
    padding: 10px 10px 0 10px;
    text-align: justify;
    font-size: 16px;
    color: gray;
    line-height: 20px;
}
.content > span {
    color: #62b944;
    font-size: 16px;
    font-family: monospace;
    display: block;
}
#other_article {
    list-style: none;
    padding: 10px 30px;
    margin: 20px 0 40px 0;
    text-align: left;
    font-size: 16px;
}
#other_article li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: block;
    line-height: 24px;
    color: #888;
    font-size: 13px;
}


.video-wrap {
}
.video {
    width: 100%;
    width: calc(100% - 20px);
    margin: 20px 10px 10px 10px;
    display: inline-block;
    border-bottom: 1px solid #eaeaea;
}
.video a {
    display: block;
    height: 40px;
    line-height: 40px;
    margin-bottom: 8px;
    font-family: monospace;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video a:hover {
    color: #62b934;
}
.video iframe {
    width: 100%;
    height: 280px;
}
